<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首页</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="./resources/js/element-index-2.13.0.js"></script>  	
	<script src="./resources/js/FontsLib.js"></script>
    <script src="./resources/js/TraditionToSimple_CN.js"></script>	
	<script src="./resources/js/jquery-3.4.1.min.js"></script>
	<script src="./resources/js/myutils.js"></script>	
	<style>
	  .el-row {
		margin-bottom: 20px;
		&:last-child {
		  margin-bottom: 0;
		}
	  }
	  .el-col {
		border-radius: 4px;
	  }
	  .grid-content {
		border-radius: 4px;
		min-height: 36px;
	  }
	  .login{
		margin-top:-12px;
	  }
	  .icons {
		margin-left:-60px;
	  }
	  .poetry {
		margin-top: 40px;
		margin-left: -104px;		
		font-family: FangSong;
		font-size: 22px;
		letter-spacing:9px;
		line-height:38px;
	  }
	  a {
		text-decoration:none;
	  }
	</style>
	<link rel="shortcut icon" href="./resources/images/fojing.ico" type="image/x-icon" />
	<link rel="stylesheet" href="./resources/css/element-index-2.13.0.css">
  </head>
  <body>
  <div id="app">
	<el-row>
		<el-col :span="1" :offset="21">
		  
			  <div class="grid-content login">
				<a  >
					<el-button type="text" @click="loginorhome">
						<img v-if="islogin" title="主页" src="./resources/images/home.png" alt="picture" width="30px" height="30px" />
						<img v-else title="登陆" src="./resources/images/login.png" alt="picture" width="30px" height="30px" />
					</el-button>
				</a>
			  </div>
		  		  
		  <el-dialog :visible.sync="dialogFormVisible" width="400px" :show-close=false >
		    <el-form :model="form">
		  	<el-form-item label="用户名" :label-width="formLabelWidth">
		  	  <el-input v-model="form.username" autocomplete="off"></el-input>
		  	</el-form-item>
		  	<el-form-item label="密码" :label-width="formLabelWidth">
		  	  <el-input v-model="form.password" autocomplete="off" show-password></el-input>
		  	</el-form-item>
		    </el-form>
		    <div slot="footer" class="dialog-footer">
				<el-button @click="login">登陆</el-button>
				<el-button @click="regist">注册</el-button>
		    </div>
		  </el-dialog>		  
	   </el-col>	
	  <el-col :span="1" >
		  <div class="grid-content">
			<a href="./bookshelf.html" title='书架'>
				<img src="./resources/images/bookshelf.png" alt="picture" width="30px" height="30px" />
			</a>
		  </div>
	   </el-col>	   
	  <el-col :span="1" >
		  <div class="grid-content">
			  <a href="https://github.com/alalgo/CBETA-client/issues" target='_blank' title='问题与建议'>
				<img src="./resources/images/feedback.png" alt="picture" width="30px" height="30px" />	  
			  </a>
		  </div>
	  </el-col>	  
	</el-row> 
	<el-row><el-col ></el-col></el-row> 
	<el-row><el-col ></el-col></el-row> 
	<el-row><el-col ></el-col></el-row> 
	<el-row><el-col ></el-col></el-row> 
	<el-row><el-col ></el-col></el-row> 	
	<el-row >
	  <el-col :span="4" :offset="12">
	  <div class="icons">
			<a><img src="./resources/images/fojing.png" alt="picture" width="100px" height="100px" /></a>
	  </div>
	  </el-col>
	</el-row>
	<el-row >
	  <el-col :span="10" :offset="7">
		    <el-input placeholder="经名  繁/简" v-model="inputvalue" class="input-with-select" @change="submitsear" >
				<el-button slot="append" icon="el-icon-search"></el-button>
		    </el-input>
	  </el-col>
	  <el-col :span="10" :offset="10">
		  <div class="poetry">
			<span>无上甚深微妙法 百千万劫难遭遇</span><br>
			<span>我今见闻得受持 愿解如来真实意</span>
		  </div>
	  </el-col>	  
	</el-row>
  </div>
  </body>

  <script>
    new Vue({
      el: '#app',
      data: {
		inputvalue: '',
        dialogFormVisible: false,
        form: {
          username: '',
          password: ''
        },
        formLabelWidth: '60px',
		islogin: false
	  },	
	  mounted: function() {
		var token = localStorage.getItem("cbetatoken");
		if( token != '' && token != null){
			this.islogin = true
		}	
	  },	  
	  methods: {
		//查询提交
		submitsear: function () {
			var t2s = new TraditionToSimple_CN(); 
			var tradtion_input = t2s.toTraditionalized(this.inputvalue);
			window.location.href = 'results.html?name='+tradtion_input;
		},
		loginorhome: function() {
			if(this.islogin){//跳到主页
				window.location.href = 'home.html';					
			}else{//出现登陆、注册页面
				this.dialogFormVisible = true
			}
		},
		login: function(){
			this.dialogFormVisible = false

			var _self=this;
			$.ajax({
				url: config.goApiHost+"/api/v1/user/login",    
				dataType: "json",
				async: true,
				type: "get",
				contentType: "application/json",
				data:{"username":_self.form.username,"password":_self.form.password},
				success: function(response) {
					console.log(response)
					if(response.code == 200){					
						_self.$notify({
						  message: "登陆成功",
						  position: "top-left",
						  duration: 2000
						});	
						localStorage.setItem("cbetatoken",response.data); 
						localStorage.setItem("cbetausername",_self.form.username);  						
						_self.islogin = true;											
					}else{
						_self.$notify({
						  message: response.message,
						  position: "top-left",
						  duration: 3500
						});	
					}
				},                 
				error: function(xhr) {
                   console.log('error:' + JSON.stringify(xhr));
                }
			});					
		},
		regist: function(){
			var _self=this;
			$.ajax({
				url: config.goApiHost+"/api/v1/user/add",    
				dataType: "json",
				async: true,
				type: "POST",
				contentType: "application/json",
				data:JSON.stringify({username:_self.form.username,password:_self.form.password}),
				success: function(response) {
					if(response.code == 200){					
						_self.dialogFormVisible = false
						_self.$notify({
						  message: "注册成功",
						  position: "top-left",
						  duration: 2000
						});	
						//登陆
						_self.login()
					}else{
						_self.$notify({
						  message: response.message,
						  position: "top-left",
						  duration: 3500
						});	
					}
				},                 
				error: function(xhr) {
                   console.log('error:' + JSON.stringify(xhr));
                }
			});				
		}
	  }	  
    }) 
  </script>
</html>
