<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>经文阅读</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./resources/js/element-index-2.13.0.js"></script> 
    <!--<script src="./resources/js/axios.min.js"></script> -->
	<script src="./resources/js/jquery-3.4.1.min.js"></script>
	<script src="./resources/js/myutils.js"></script>	
	<script src="./resources/js/FontsLib.js"></script>
    <script src="./resources/js/TraditionToSimple_CN.js"></script>		
	<link rel="shortcut icon" href="./resources/images/fojing.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./resources/css/element-index-2.13.0.css">
	<style>
	  .el-row {
		margin-bottom: 20px;
		&:last-child {
		  margin-bottom: 0;
		}
	  }
	  .el-col {
		border-radius: 4px;
	  }
	  .grid-content {
		border-radius: 4px;
		min-height: 36px;
		margin-top:25px;
	  }
	  .el-dropdown-link {
	    margin-left:-78px;
		font-size:24px;
		position:relative;
		top:30px;
	  }
	  .explainContextclass {
		position:fixed;
		top:25px;
	  }
	  .tools{
		margin-left:75px;
		margin-bottom:24px;
		font-size:20px;
	  }
	  .left{
		position:fixed;
		width:80px;
	  }
  	  .list1  {
	    max-height: 500px;
	    
	  }	
		
	  /* 未访问链接*/
	  a:link {
	  	text-decoration:none;
	  }  
	  /* 已访问链接 */		
	  a:visited {
	  	text-decoration:none;
	  } 
	  /* 鼠标移动到链接上 */		
	  a:hover {
	  	text-decoration:none;
		cursor:pointer;
	  }  
	  /* 鼠标点击时 */
	  a:active {
	  	text-decoration:none;
	  }
	  ul{
	  	list-style-type: none; /*去掉标点*/
	  	line-height:26px;
	  	margin-left:-27px;
	  }
	  #translate{
		font-family:Cursive; 
		font-size:114%; 
		color:#868181;
	  }
	  #failmsg {
		margin-top:67px;
		margin-left: 108px;
	  }
	  /*阅读进度条*/
	  #content_progress {
	  	  /* Positioning */
	  	  position: fixed;
	  	  left: 0;
	  	  top: 22px;
	  	  z-index: 1000;
	  	  width: 100%;
	  	  height: 2px;
	  	  -webkit-appearance: none;
	  	  -moz-appearance: none;
	  	  appearance: none;
	  	  border: none;
	  	  background-color: transparent;
	  	  color: #be9567;
	  }
      
	  #content_progress::-webkit-progress-bar {
	  	  background-color: transparent;
	  }
      
	  #content_progress::-webkit-progress-value {
	  	  background-color: #be9567;
	  }
      
	  #content_progress::-moz-progress-bar {
	  	  background-color: #be9567;
	  }
	  #booknameid {
		margin: auto;
		top: 0;
		margin-left: 133px;
		height:26px;
		width:935px;
		position:fixed;
		margin-bottom:4px;
		text-align:center;
		background-color:white;
		z-index:999;
		color:#be9567;
	  }	
	  .selectedChapter {
		color:#be9567;
	  }
	</style>	
  </head>
  <body>
  <div id="app">
	<progress id="content_progress" value="0"></progress>
	<el-row >
		<div id='booknameid'>{{bookname}}</div>
	</el-row >	
	<el-row >
	  <!-- 左侧区域 返回主页图标 + 目录-->
	  <el-col :span="2" :offset="1">
		  <div class="left">
			<!--
			<a href="index.html">
				<img src="./resources/images/fojing.png" alt="picture" width="80px" height="80px" />
			</a>
			-->
			<el-scrollbar 	
				wrap-class="list1" 
				wrap-style="font-family:Cursive;" 
				:native="false">
				<ul>
					<li v-for="content in contents"><a name="chapterlink" :id="content.id"  v-on:click="selectchapter(content.chapterNo)">{{content.name}}</a></li>
				</ul>
			</el-scrollbar>
		  </div>		  
	  </el-col> 
	  <!-- 中间区域 经文-->
	  <el-col :span="14"  :offset="4" v-loading="loading" element-loading-text="正在加载">
			<div id="failmsg" v-if="requesterror">加载失败请刷新重试</div>
			<div class="grid-content" id="book" style="font-family:Cursive;font-size:140%" @mouseup = "selectcontent"></div>	
	  </el-col>
	  <!-- 右侧区域 发送kindle + 翻译 + 改变字体大小 -->
	  <el-col :span="3"  >
		<div class='explainContextclass'>	
			<div>
				<el-button plain size="small" icon="el-icon-close"  circle style="margin-left:284px;margin-top:8px;" v-on:click="closereader">
				</el-button>
			</div>
			<div class="tools">
				<a title='取消收藏' v-if="staron" v-on:click="favoriteBook"><i class="el-icon-star-on"></i></a>
				<a title='收藏' v-else v-on:click="favoriteBook"><i class="el-icon-star-off"></i></a>
				&nbsp &nbsp				
				<a title='繁简翻译' v-on:click="tstranslate"><image src="./resources/images/ts.png" alt="picture" width="17px" height="17px"/></a>
				&nbsp &nbsp	
				<a title='下载' id="downloadid" v-on:click="download"><i class="el-icon-download"></i></a>
				&nbsp &nbsp	
				<a title='发送到kindle'><i class="el-icon-s-promotion"></i></a>				
			</div>
			<div id='translate'>
				<el-scrollbar 	
					wrap-class="list1" 
					:native="false">
					<div>{{simpleChineseContext}}</div>
					<div v-for="result in explainContext">
						<span v-html="result.desc.substring(0,result.desc.length-5)"></span>
						&nbsp &nbsp &nbsp &nbsp &nbsp--《{{result.dict_name_zh}}》
					</div>
				</el-scrollbar>
			</div>
		</div>
	  </el-col>	
	</el-row>	
  </div>
  </body>
  <script>	
    new Vue({
      el: '#app',
      data: {
		info:null,
		contents:[],
        form: {
          name: '',
          region: '',
          date1: '',
          date2: '',
          delivery: false,
          type: [],
          resource: '',
          desc: ''
        },
        formLabelWidth: '120px',
		explainContext: null,
		loading:false,
		simpleChineseContext:'',
		requesterror:false,
		bookname:'',
		bookwork:'',
		bookchapters:'',
		staron: false,//是否已经收藏
		currentChapterNo:1, //当前阅读的章节号
		currentLanguage:'tradition' //当前经文语言，初始化默认为繁体 ，简体为 simple
	  },
	  mounted: function () {
	    var work = util.getQueryStr("work");
		this.bookwork = work;
		var juan = util.getQueryStr("juan");
		this.bookchapters = juan;
		this.bookname = util.getQueryStr("bookname");
		for (i = 1; i <=juan; i++) { 
			this.contents.push({name:'卷'+i , 
								//url:'https://cbdata.dila.edu.tw/v1.2/download/html/' + work + '_' + util.PrefixInteger(i,3) + '.html',
								chapterNo:i,
								id: 'chapter'+i
							});
		}
		//this.axiosrequest('https://cbdata.dila.edu.tw/v1.2/download/html/' + work + '_001.html','init');
		this.getbookcontent(1,'init');
		//阅读进度条
		document.addEventListener('DOMContentLoaded', function () {
			  var winHeight = window.innerHeight,
				  docHeight = document.documentElement.scrollHeight,
				  progressBar = document.querySelector('#content_progress');
			  progressBar.max = docHeight - winHeight;
			  progressBar.value = window.scrollY;

			  document.addEventListener('scroll', function () {
				progressBar.max = document.documentElement.scrollHeight - window.innerHeight;
				progressBar.value = window.scrollY;
			  });
		});
		//判断收藏与否
		var _self=this;
		var cbetaworks = localStorage.getItem("cbetaworks");
		if(cbetaworks == null){
			this.getFavoriteBook();
		}
		cbetaworks = localStorage.getItem("cbetaworks");
		//localStorage中不能存数组只能存字符串，随意数组按字符串存入后取出来需要转为数组
		if(cbetaworks != null){
			cbetaworks = cbetaworks.split(',')		
			for(j = 0; j < cbetaworks.length; j++){
				if(cbetaworks[j] == this.bookwork){
					this.staron = true;
					break;
				}
			}
		}
	  },	 
	  methods: {
		selectchapter: function(chapterNo){
			//选择章节后，此章节目录文字样式改变（先清空之前样式）
			var items = document.getElementsByName('chapterlink');
			for(i=0;i<items.length;i++){
				items[i].className='';
			}
			var chapterid = window.event.target.id;
			document.getElementById(chapterid).className = 'selectedChapter';
			this.currentChapterNo = chapterNo;
			//this.axiosrequest(url);
			this.getbookcontent(chapterNo);
		},
		closereader: function(){
			window.history.back(-1); 
		},
		getbookcontent: function (chapterNo,param1,language){
			var _self=this;
			_self.loading = true;
			_self.requesterror = false;
			$.ajax({
				url: "https://alalgo.top/bookapi/api/v1/book/readBook",    
				dataType: "json",
				async: true,
				type: "GET",   //请求方式
				//headers:{"Authorization": 'Bearer '+localStorage.getItem("cbetatoken")},
				data:{"BookName":_self.bookname,
					  "Chapters":_self.bookchapters,
					  "Work":_self.bookwork,
					  "ChapterNo":chapterNo,
					  "Language":language 
					  },
				success: function(response) {
					document.getElementById('book').innerHTML = "";				
					document.getElementById('book').innerHTML = response.data;
					_self.loading = false;
					/*
					if(param1 == 'init'){
						//初始化时加载第一章节，此章节目录文字样式改变
						document.getElementById('chapter1').className='selectedChapter';
					}
					*/
					//成功后更新当前繁简状态
					if(language == "simple"){
						_self.currentLanguage = "simple"
						_self.$notify({
						  message: "繁体转简体成功",
						  position: "top-left",
						  duration: 2000
						});	
					}else if(language == "tradition"){
						_self.currentLanguage = "tradition"
						_self.$notify({
						  message: "简体转繁体成功",
						  position: "top-left",
						  duration: 2000
						});							
					}else{
						//非翻译的新章节从第一行开始展示
						document.body.scrollTop = document.documentElement.scrollTop = 0;
					}					
				},
				error: function() {
					document.getElementById('book').innerHTML = "";
					_self.requesterror = true;
					_self.loading = false;		
				}
			});
		},		
		/*
		*获取鼠标选中文本，然后繁简翻译、查询佛学词典
		*/
		selectcontent: function (e) {
		    var content = window.getSelection().toString();
			//未选中，避免无缘由滥用接口
			if(content == null && content == ''){
				return;
			}		
			var t2s = new TraditionToSimple_CN(); 
			this.simpleChineseContext = t2s.toSimplized(content);
			//选中内容过多均不查询词典，避免无缘由滥用接口
			if(content.length > 10){
				return;
			}
			var url = 'http://glossaries.dila.edu.tw/search.json?type=match&term=' + content
			var _self=this;
			$.ajax({
				url: url,    
				dataType: "json",
				async: true,
				type: "GET",
				success: function(response) {
					_self.explainContext = response.filter(function(item){
						return item.dict_name_zh === "丁福保佛學大辭典";
					});		
				}
			});			
		},
		getFavoriteBook: function (){
			$.ajax({
				url: "https://alalgo.top/bookapi/api/v1/user/getFavoritedBooks",    
				dataType: "json",
				async: false,
				type: "get",
				contentType: "application/json",
				headers:{"Authorization": 'Bearer '+localStorage.getItem("cbetatoken")},
				data:{"username":localStorage.getItem("cbetausername")},
				success: function(response) {
					if(response.code == 200){
						var works = [];
						if(response.data == null){
							localStorage.removeItem("cbetaworks");
						}else{
							for(i=0;i<response.data.length;i++){
								works.push(response.data[i].Work);
							}
							localStorage.setItem("cbetaworks",works); 
						}
					}
				},                 
				error: function(xhr) {
				   console.log('error:' + JSON.stringify(xhr));
				}
			});
		},
		//下载pdf不预览直接下载，只能使用XMLHttpRequest方案
		download: function(){
			var url = "http://cbdata.dila.edu.tw/v1.2/download/pdf/"+this.bookwork.substr(0, 1)+"/"+this.bookwork+".pdf";
			console.log("downloadurl:"+url)
		    var req = new XMLHttpRequest();
		    req.open("GET", url, true);
		    req.responseType = "blob";
			var _self = this;
		    req.onload = function (event) {
				var blob = req.response;
				var link=document.createElement('a');
				link.href=window.URL.createObjectURL(blob);
				link.download = _self.bookname+'.pdf';
				link.click();
		    };          
		    req.send();
		},
		tstranslate: function(){ 
			if(this.currentLanguage == "tradition"){
				this.getbookcontent(this.currentChapterNo,null,"simple");					
			}else{
				this.getbookcontent(this.currentChapterNo,null,"tradition");
			}			
		},
		favoriteBook: function (){
			if(localStorage.getItem("cbetatoken") == null){
				this.$notify({
				  message: "请登陆",
				  position: "top-left",
				  duration: 2000
				});	
				return;
			}
			if (this.staron){
				var _self=this;
				$.ajax({
					url: "https://alalgo.top/bookapi/api/v1/user/unFavorite",    
					dataType: "json",
					async: true,
					type: "get",
					contentType: "application/json",
					headers:{"Authorization": 'Bearer '+localStorage.getItem("cbetatoken")},
					data:{"Username":localStorage.getItem("cbetausername"),"BookWork":_self.bookwork},
					success: function(response) {
						console.log(response)
						if(response.code == 200){	
							_self.$notify({
							  message: "取消收藏成功",
							  position: "top-left",
							  duration: 2000
							});	
							_self.staron = false;
							_self.getFavoriteBook();
						}else{
							_self.$notify({
							  message: response.message,
							  position: "top-left",
							  duration: 2000
							});				
						}
					},                 
					error: function(xhr) {
						_self.$notify({
						  message: JSON.stringify(xhr),
						  position: "top-left",
						  duration: 2000
						});						   
					}
					
				});						
			}else{
				var _self=this;
				$.ajax({
					url: "https://alalgo.top/bookapi/api/v1/user/favorite",    
					dataType: "json",
					async: true,
					type: "get",
					contentType: "application/json",
					headers:{"Authorization": 'Bearer '+localStorage.getItem("cbetatoken")},
					data:{"Username":localStorage.getItem("cbetausername"),"BookWork":_self.bookwork},
					success: function(response) {
						console.log(response)
						if(response.code == 200){	
							_self.$notify({
							  message: "收藏成功",
							  position: "top-left",
							  duration: 2000
							});	
							_self.staron = true;
							_self.getFavoriteBook();
						}else{
							_self.$notify({
							  message: response.message,
							  position: "top-left",
							  duration: 2000
							});				
						}
					},                 
					error: function(xhr) {
						_self.$notify({
						  message: JSON.stringify(xhr),
						  position: "top-left",
						  duration: 2000
						});						   
					}
					
				});
			}
		}
	  }
    }) 
  </script>
</html>
